body{
    background-color: bisque;
    border: 10px solid;
}
.con-profile{
background-color: #B5C99A;
display: flex;
justify-content: center;
}
.con-skill
{
    background-color: #FFF9C9;
    display: flex;
    justify-content: center;
}
.con-link{
    background-color: #862B0D;
    display: flex;
    justify-content: center;
}

#icon-link-facebook:hover{
    transition: .3s ease all;
    transform: translateY(-5px);
}
#icon-link-ig:hover{
    transition: .3s ease all;
    transform: translateY(5px);
}
#icon-link-discord:hover{
    transition: .3s ease all;
    transform: translateY(-5px);
}
#icon-link-twich:hover{
    transition: .3s ease all;
    transform: translateY(5px);
}
#icon-link-steam:hover{
    transition: .3s ease all;
    transform: translateY(-5px);
}
#img-profile1:hover{
    transition: 1s ease all;
    opacity: 0;
}
#icon-link-facebook,#icon-link-ig,#icon-link-discord,#icon-link-twich,#icon-link-steam{
    
    border: 5px solid black;
    border-radius: 10%;
    margin: 10px;
    width:100px;
}
#img-profile1{
    position: relative;
    border-radius: 12px;
    border: 5px solid rgb(0, 0, 0);
}
#img-profile2{
    position: absolute;
    border-radius: 12px;
    border: 5px solid slateblue;
}
li{
    font-size: larger;
    font-weight: bold;
}   

h1{
    text-align: center;
}
footer{
    background-color: #FFC95F;
    text-align: center;
}
div{
    margin: 10px;
    border-radius: 12px;
}