body{
    background-color: bisque;
    border: 10px solid;
    margin: 0px;
    padding: 10px;
}
li{
    font-size: larger;
    font-weight: bold;
}   

h1{
    text-align: center;
}
footer{
    background-color: #FFC95F;
    text-align: center;
}
div{
    margin: 10px;
    border-radius: 12px;
}
.con-profile{
border: 10px solid;
background-color: #B5C99A;
display: flex;
justify-content: center;
flex-wrap: wrap;
padding: 10px;
}
.con-skill
{
    border: 10px solid;
    background-color: #FFF9C9;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.con-link{
    border: 10px solid;
    background-color: #862B0D;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.con-profile:hover{
    transition: .5s ease all;
    background-color: #869178;
}
.con-link:hover{
    transition: .5s ease all;
    background-color: #b55536; 
}
.con-skill:hover{
    transition: .5s ease all;
    background-color: #fdee7c; 
}
#icon-link-facebook:hover{
    transition: .1s ease all;
    transform: translateY(-5px);
}
#icon-link-ig:hover{
    transition: .1s ease all;
    transform: translateY(5px);
}
#icon-link-discord:hover{
    transition: .1s ease all;
    transform: translateY(-5px);
}
#icon-link-twich:hover{
    transition: .1s ease all;
    transform: translateY(5px);
}
#icon-link-steam:hover{
    transition: .1s ease all;
    transform: translateY(-5px);
}
#img-profile1:hover{
    transition: 1s ease all;
    opacity: 0;
}
#icon-link-facebook,#icon-link-ig,#icon-link-discord,#icon-link-twich,#icon-link-steam{
    
    border: 5px solid black;
    border-radius: 10%;
    margin: 10px;
    width:100px;
}
#img-profile1{
    position: relative;
    border-radius: 12px;
    border: 5px solid rgb(0, 0, 0);
}
#img-profile2{
    position: absolute;
    border-radius: 12px;
    border: 5px solid slateblue;
}

